@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {

    background-color: rgb(207, 205, 205);
    margin: 0;

}


header {

    background: #0d2133;

}


#logo {

    padding-top: 10px;
    padding-left: 15px;
    max-width: 120px;
    height: auto;
    cursor: pointer;

}


nav {

    background-color: #173957;
    
}


.menu li{ 
    
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

}


.select:hover {

    background-color: #265279;
    
}

a {

    color: #fff;
    text-decoration: none;

}


h1 {

    font-family: 'Roboto', sans-serif;
    color: #fff;

}


h2 {

    font-family: 'Roboto', sans-serif;
    padding-left: 25px;

}


h3 {

    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 5px;

}


p {

    margin-top: 0%;
    font-family: 'Roboto', sans-serif;
    margin-left: 700px;
    font-size: 20px;
    font-weight: bolder;

}


#promo {

    text-align: center;
    background-color: rgb(255, 117, 5);
    margin-right: 50px;
    margin-left: 50px;

}


#banner {

    background-size: 100%;
    background-image: url('assets/bg-image.png');
    padding: 20px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;

}


.container {

    background-color: #fff;
    margin: 50px;
    padding-bottom: 20px;
    
}


#row {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}


.photo {

    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    
}


#promo_link {

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: rgb(21, 77, 150);

}


#promo_link:hover {

    text-decoration: underline;

}


span{

    padding-left: 20px;
    display: inline-block;

}


.shop_banner {

    width: 1805px;
    margin-left: 50px;
    margin-right: 50px;
    object-fit: cover;
    cursor: pointer;
    
}


#shop_link {

    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: rgb(21, 77, 150);

}


#shop_link:hover {

    text-decoration: underline;

}

.border{

    background-color: #173957;
    padding: 5px

}


#return {

    padding-top: 20px;
    margin-left: 860px;
    color: rgb(245, 238, 238);
    font-family: 'Roboto', sans-serif;

}

#return:hover {

    text-decoration: underline;

}


footer {

    background-color: #0d2133;
    padding: 40px;

}

/* Parte nuova */

#logo_below {

    margin-left: 730px;
    cursor: pointer;
    max-width: 250px;
    height: auto;

}


.block {

    background-color: #fff;
    margin-left: 50px;
    max-width: 420px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.shop_img {

    max-width: 150px;
    height: 150px;
    margin-top: 20px;
    cursor: pointer;
    object-fit: cover;
    padding-left: 15px;
    margin-right: 15px;
    
    

}


.text {

    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}


.shop_font {

    padding: 20px;
    max-width: 380px;
    background-color: #fff;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;

}


.discover_conteiner {

    margin-left: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    max-width: 420px;
    padding-bottom: 30px;
    padding-top: 20px;

}


#discover {

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(21, 77, 150);
    padding-left: 45px;

}


#discover:hover {

    text-decoration: underline;

}


#over_container {

    display: flex;
    margin-right: 50px;

}


.selection:hover {

    background-color: #f0f0f0;

}

